<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo App</title>
    <link rel="stylesheet" href="css/master.css" media="screen" title="no title" charset="utf-8">
    <script src="lib/angular/angular.min.js"></script>

    <script src="js/app.js"></script>

  </head>
  <body ng-app="myApp">
    <div class="" ng-controller="TodoCtrl">
      <h2>Todo List</h2>
      <ul ng-repeat="todo in todos track by $index">
        <li>
          <span>{{todo}}</span>
          <button type="button" ng-click="done(todo)">Done</button>
        </li>
      </ul>

      <input type="text" ng-model="tItem" ng-keyup="remove($event)" placeholder="New Task" />

    </div>


  </body>
</html>
